# 집합(set) 자료형

## 1. 집합 자료형 만들기

In [15]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [16]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [17]:
s3 = set([1,2,3,'hello'])
s3

{1, 2, 3, 'hello'}

In [18]:
# 집합은 한가지 인수만 가능하다!!
s4 = set("hello", [1,2,3])
s4

TypeError: set expected at most 1 argument, got 2

In [54]:
s5 = {1,2,3}
print(type(s5), s5)

<class 'set'> {1, 2, 3}

In [55]:
s6 = {1,2,3,'hello'}
print(type(s6), s6)

<class 'set'> {1, 2, 3, 'hello'}

### 집합 자료형의 특징
1. 중복 허용 X -> 데이터 중복 제거 필터로 사용
2. 순서 X (unordered) -> 인덱싱 지원X

In [19]:
# set에 저장된 자료형에 인덱싱으로 접근하고 싶다면
# list or tuple로 변환 후 인덱싱

s1 = set([1,2,3])
l1 = list(s1)
print(l1, l1[0])

s2 = set([1,2,3])
t1 = tuple(s2)
print(t1, t1[1])

[1, 2, 3] 1
(1, 2, 3) 2

## 2. 교집합, 합집합, 차집합 구하기

In [45]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

### 교집합(2가지 방법)

In [30]:
s1 & s2

{4, 5, 6}

In [31]:
s1.intersection(s2)
s2.intersection(s1)

{4, 5, 6}

### 합집합(2가지 방법)

In [40]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
s2.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### 차집합(2가지 방법)

In [36]:
s1 - s2

{1, 2, 3}

In [37]:
s2 - s1

{7, 8, 9}

In [38]:
s1.difference(s2)

{1, 2, 3}

In [39]:
s2.difference(s1)

{7, 8, 9}

# 3. 집합 자료형 관련 함수

### add() - 값 1개 추가하기

In [47]:
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

### update() - 값 여러 개 추가하기

In [48]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

### remove() - 특정 값 제거하기

In [56]:
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [57]:
s2 = set([1,2,3])
s2.remove(4)
s2

KeyError: 4

In [59]:
s3 = set([1,2,3])
s3.discard(2)
s3

{1, 3}

In [60]:
s4 = set([1,2,3])
s4.discard(4)
s4

{1, 2, 3}

remove(), discard() - set의 요소를 삭제하는 함수
but, 존재하지 않는 값을 지울 경우
- remove()는 에러
- discard()는 에러 반환 X

### mutable
- 리스트
- 딕셔너리
- 집합

---

### immutable
- 정수
- 실수
- 문자열
- 튜플